body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

@font-face {
  font-family: Anton;
  src: url("assets/fonts/Anton/Anton-Regular.ttf");
}

@font-face {
  font-family: "Dancing Script";
  src: url("assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
